body > #root > div {
  height: 100vh;
  background-color: #17181b;
}
.nav-ul li{
 text-align: center; 
 margin-left: 20px; 
display: inline-block;
padding: 10px;
font-size: larger;
}
.nav-ul{
  
  padding: 5px;
  background-color: rgb(0, 39, 55);
  margin: 0;
}
.nav-ul li a{
  text-decoration: darkorchid;
  color: azure;
  padding: 5px;
}
.nav-ul li a:hover{
  color: aqua;
 
}
.ecom{
  width: 50px;
  height: 45px;
   margin-top: 3px;
   margin-left: 10px;
  border-radius: 50%;
  float: left;
}

.register{
  
  display: flex;
  justify-content: center;
  align-items: center;
   padding-top: 40px;
   
  color: aqua;
 
}
.regis-container{
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color:rgb(0, 39, 55);
}
.title-reg{
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(255, 14, 14);
  font-weight: 800;
}
.addprod{
  margin-top: 2%;
  margin-left: 35%;
  width: 400px;
  height: 480px;
  text-align: center;
  color: aqua;
  background-color: rgb(0, 39, 55);
  border: 2px solid yellow;
  border-radius: 20px;
}

.inputbox{
  padding: 10px;
  border: 1px solid burlywood;
  display: block;
  width: 300px;
  border-radius: 5px;
  outline: none;
  margin: 20px;
  margin-left:40px;
}
.appbtn{
  margin-left: 40%;
   align-items: center;
   height: 40px;
   width: 80px;
  color: #61dafb;
  background-color: rgb(0, 0, 0);
  border: solid 1px;
  border-radius: 10px;
  cursor: pointer;
}
.app1btn{
  
   align-items: center;
   height: 40px;
   width: 150px;
  color: #61dafb;
  background-color: rgb(0, 0, 0);
  border: solid 1px;
  border-radius: 10px;
  cursor: pointer;
}
.invalid-input{
  display: block;
  color: red;
  margin-top: -20px;
  margin-left: 20px;
}

.log{
  text-decoration: none;
  color: white;
  font-size: larger;
  text-shadow: #8cc508;
  
}
.log:hover{
  color: aqua;
}
.nav-right{
  text-align: right;
}

.product-list{
  text-align: center;
  justify-content: center;
  border: 1px solid white;
  background-color: rgb(0, 39, 55);
  margin-top: 20px;
  margin-left: 20%;
  
  border-radius: 20px;
  color: aqua;
  margin-right: 20%;
  
}
.product-list ul li{
  display: inline-block;
  border: 1.2px solid yellow;
  padding: 5px;
  width: 150px;
  color: aqua;
}
.del{
  outline: none;
  border-radius: 30%;
 margin-left: 10px;
}
.del:hover{
  background-color: rgb(1, 29, 53);
}
.delbtn{
  color: rgb(246, 252, 252);
  background-color:  rgb(1, 29, 53);
  border: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.delbtn:hover{
  background-color: rgb(1, 47, 47);
  color: red;
 
}
.search{
  width: 400px;
   margin-bottom: 10px;
    height: 30px;
    border: 1px solid rgb(195, 241, 11);
    outline: none;
    border-radius: 3rem;
    text-align: center;
 
}
.upd{
  border: 2px solid rgb(1, 29, 53);
  font-size: 16px;
  background-color:rgb(0, 39, 55);
  padding: 6px;
  color: rgb(255, 255, 255);
  margin-left: 2px;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;

}
.upd:hover{
  background-color: rgb(11, 47, 47);
  color: rgb(255, 234, 5);
}

.footer{
  position: absolute;
  bottom: 0;
  background-color: rgb(0, 39, 55);
  width: 100%;
  text-align: center;
  color:white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

